.map {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
}

.water {
    table-layout: fixed;
    height: 500px;
    width: 500px;
    border: none;
}

.water td {
    background: #77F;
    border: solid 1px #00F;
    cursor: pointer;
}

.water td.miss {
    background: #fff;
}
.water td.hit {
    background: red;
}

.saveButton button{
    width: 100%;
    height: 50px;
}
